!!!
html
    head
        title= title
        link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,400italic", rel="stylesheet", type="text/css")
        link(href="/stylesheets/style.css", rel="stylesheet", type="text/css")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        script(data-main="javascripts/app", src="javascripts/require.js")
    body
        #wrapper
            #header
                .column
                    block header
            #main
                .column
                    block content
            #footer
                p
                    | another helpful little tool brought to you by <a href="http://machellerogden.com">mac heller-ogden</a>
